*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#e6e6e6;
}

/* ================= HEADER NUEVO ================= */

header{
    background:#2f5396;
    padding:15px 40px;
}

.header-container{
    display:flex;
    align-items:center;
    width:100%;
}


/* Logo + nombre */
.logo-area{
    display:flex;
    align-items:center;
    gap:15px;
    margin-right:40px;   /* separa logo de categorías */
}


.logo{
    width:85px;          
    background:white;
    padding:2px;        
    border-radius:50%;
}



.logo-area h1{
    color:white;
    font-size:22px;
    letter-spacing:2px;
}

/* Categorías */
.categorias{
    display:flex;
    gap:15px;
}


.categorias h4{
    background:#1f3f7c;
    color:white;
    padding:6px 15px;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
    transition:0.3s;
}

.categorias h4:hover{
    background:#162c57;
}

/* Barra búsqueda */
.search-bar{
    margin-left:auto;   /* empuja todo hacia la derecha */
    margin-right:30px;  /* separa de los iconos */
}

.search-bar input{
    padding:8px 20px;
    border-radius:20px;
    border:none;
    width:320px;   /* más larga */
    outline:none;
}


/* Iconos */
.icons{
    display:flex;
    align-items:center;
    gap:15px;
}


.icons img{
    width:35px;          /* antes 20px */
    background:white;
    padding:2px;         /* más círculo */
    border-radius:50%;
    cursor:pointer;
}




/* ================= PRODUCTOS ================= */

.productos{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    padding:60px;
}

/* Columnas */
.izquierda, .derecha{
    display:flex;
    flex-direction:column;
    gap:60px;
}

.centro{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* Producto */
.producto img{
    width:220px;
}

.centro img{
    width:260px;
}

/* Cuadro azul info */
.info{
    background:#2f5396;
    color:white;
    padding:10px;
    border-radius:8px;
    margin-top:10px;
    text-align:center;
    font-size:14px;
}

/* Responsive */
@media(max-width:1000px){
    .productos{
        flex-direction:column;
        align-items:center;
        gap:40px;
    }

    .izquierda, .derecha{
        flex-direction:row;
    }
}
